/* body {
  margin: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 12px;
  background-color: hotpink;
}
h2,
h4,
h5 {
  text-align: center;
} */
